
<div class="page">
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <div class="menu logo">
      <a routerLink="">
        <img src="/assets/logo.png" alt="">
      </a>
    </div>
    <div class="spacer"></div>
<!--    <div class="menu faq">-->
<!--      FAQ-->
<!--    </div>-->
    <div class="menu contact">
      <a routerLink="contact">
        联系作者
      </a>
    </div>
  </div>

  <div class="content" role="main">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <a href="https://beian.miit.gov.cn/">
      粤ICP备2023117042号-1</a>
  </div>

</div>
