
<div class="section">
  <div class="text landing">
    <img class="app-logo" src="/assets/logo.png" alt="">

    <div class="title">
      可达阅读器
    </div>
    <div class="subtitle">
      全新的漫画阅读体验
    </div>
    <div class="download-btn">
      <a href="https://apps.apple.com/cn/app/%E5%8F%AF%E8%BE%BE%E9%98%85%E8%AF%BB%E5%99%A8-%E7%A6%BB%E7%BA%BF%E6%BC%AB%E7%94%BB%E9%98%85%E8%AF%BB%E5%99%A8/id1545372338">
        <img src="/assets/download-on-the-appstore.svg" alt="">
      </a>
    </div>
  </div>

  <div class="screenshot">
    <img src="/assets/chinese/1.png" alt="">
  </div>
</div>

<div class="section features left">
  <div class="showcase">
    <img src="/assets/chinese/2.png" alt="">
  </div>
  <div class="text right">
    <div class="title">
      支持连接 NAS
    </div>
    <div class="description">
      可通过 WebDAV，SMB 等协议连接 NAS 设备，并流式阅读漫画
    </div>
  </div>
</div>

<div class="section features">
  <div class="text left">
    <div class="title">
      真实纹理
    </div>
    <div class="description">
      带给你纸张般的阅读体验
    </div>
  </div>
  <div class="showcase">
    <img src="/assets/chinese/3.png" alt="">
  </div>
</div>
<div class="section features right">
  <div class="showcase">
    <img src="/assets/chinese/4.png" alt="">
  </div>
  <div class="text right">
    <div class="title">
      隐私模式
    </div>
    <div class="description">
      长按底部任意图标，开关「隐私模式」
    </div>
  </div>
</div>
